{% extends 'base.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style_advanced_search.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/app_advanced_search.js') }}"></script> 
{% endblock %}

{% block main_content %}
    
    <div class="breadcrumbs">
        <a href="{{ path('homepage') }}">Strona główna</a>
        <span>/</span>
        Wyszukiwarka
    </div>
    <h4>Wyszukiwarka</h4>
    <p class="title"></p>
    
    <form id="advanced_search" class="form-horizontal" action="" method="post">
        <fieldset class="search_type">
            <div class="form-group">
                <label class="col-md-3 control-label" for="radios">Zakres wyszukiwania</label>
                <div class="col-md-8"> 
                    <label class="radio-inline" for="radios-0">
                        <input type="radio" name="radios"  value="1" checked="checked">
                            Przetargi aktualne
                    </label> 
                    <label class="radio-inline" for="radios-1">
                        <input type="radio" name="radios"  value="0">
                            Przetargi zakończone
                    </label>
                </div>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Podstawowe</p>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">ID przetargu</label>  
                <div class="col-md-4">
                    <input id="" name="" type="text" class="form-control input-sm"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Słowa kluczowe</label>  
                <div class="col-md-9">
                    <input id="" name="" type="text" class="form-control input-sm"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Miasto</label>  
                <div class="col-md-4">
                    <input id="" name="" type="text" class="form-control input-sm"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Organizator</label>  
                <div class="col-md-4">
                    <input id="" name="" type="text" class="form-control input-sm"> 
                </div>
            </div>  
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Zasięg terytorialny</p>
            <div class="form-group">
                <label class="col-md-3 control-label" for="regions">Województwo</label>
                <div class="col-md-6">
                    <select id="regions" name="regions" class="form-control">
                        <option value="0">-- wybierz --</option>
                        <option value="dolnośląskie">dolnośląskie</option>
                        <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                        <option value="lubelskie">lubelskie</option>
                        <option value="lubuskie">lubuskie</option>
                        <option value="łódzkie">łódzkie</option>
                        <option value="małopolskie">małopolskie</option>
                        <option value="mazowieckie">mazowieckie</option>
                        <option value="opolskie">opolskie</option>
                        <option value="podkarpackie">podkarpackie</option>
                        <option value="podlaskie">podlaskie</option>
                        <option value="pomorskie">pomorskie</option>
                        <option value="śląskie">śląskie</option>
                        <option value="świętokrzyskie">świętokrzyskie</option>
                        <option value="warmińsko-mazurskie">warmińsko-mazurskie</option>
                        <option value="wielkopolskie">wielkopolskie</option>
                        <option value="zachodniopomorskie">zachodniopomorskie</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="selected_regions">Wybrane</label>
                <div class="col-md-6">
                    <select id="selected_regions" name="selected_regions" class="form-control" size="4"></select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <a id="append_region" name="append_region" class="btn-primary btn-xs">Dodaj >></a>
                    <a id="remove_region" name="remove_region" class="btn-danger btn-xs"><< Usuń</a>
                </div>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Branże (możesz wybrać kilka)</p>
            <div class="form-group">
                <label class="col-md-3 control-label" for="branches">Branża</label>
                <div class="col-md-9">
                    <select id="" name="branches" class="form-control">
                        <option value="0">-- wybierz --</option>
                        <option value="1">branza 1</option>
                        <option value="2">branza 2</option>
                        <option value="3">branza 3</option>
                        <option value="4">branza 4</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="subbranches">Podbranża</label>
                <div class="col-md-9">
                    <select id="" name="subbranches" class="form-control">
                        <option value="0">-- wybierz --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Wybrane</label>
                <div class="col-md-9">
                    <select id="" name="" class="form-control" size="4">
                        <option value="1">wybrane 1</option>
                        <option value="2">wybrane 2</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for=""></label>
                <div class="col-md-9">
                    <button id="" name="" class="btn-primary btn-xs">Dodaj >></button>
                    <button id="" name="" class="btn-danger btn-xs"><< Usuń</button>
                </div>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset>
            <p class="legends">Inne</p>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Kod CPV</label>  
                <div class="col-md-4">
                    <input id="" name="" type="text" class="form-control input-sm"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Data dodania od</label>  
                <div class="col-md-4">
                    <input id="" name="" type="date" class="form-control"> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="">Data dodania do</label>  
                <div class="col-md-4">
                    <input id="" name="" type="date" class="form-control"> 
                </div>
            </div>
        </fieldset>
        
        <hr>
        
        <fieldset class="actions">
            <div class="form-group">
                <div class="col-md-12">
                    <button id="" name="" class="btn-success btn-sm">Szukaj</button>
                </div>
            </div>
        </fieldset>

    </form>
    
{% endblock%}
