<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Baza Zamówień Przetargowych{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Author" content="Kamil Bogdański" />
        <meta name="Copyright" content="(c) 2017 Kamil Bogdański" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        
        {% block stylesheets %}       
            <link rel="stylesheet" type="text/css" href="{{ asset('font/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('font/font.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.bxslider.css') }}" />

        {% endblock %}
        
        {% block javascripts %}          
            <script type="text/javascript" src="{{ asset('js/jquery-min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('js/jquery.bxslider.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('js/selectnav.min.js') }}"></script> 
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <div class="body">
            <div class="center">
                <div class="header">
                    <div class="logo floatleft">
                        <a href=""><img src="{{ asset('img/logo.png') }}" /></a>
                    </div>
                    <div class="info_plus_login floatright">
                        <div class="top_info">
                            <ul>
                                <li><a><img src="{{ asset('img/tel.png') }}" /><strong>111 111 111</strong></a></li>
                                <li><a><img src="{{ asset('img/mail.png') }}" /><strong>test@test.pl</strong></a></li>
                                <li><a><img src="{{ asset('img/info.png') }}" /><strong>Pomoc</strong></a></li>
                            </ul>
                        </div>
                        <div class="login">
                          <form action="#" method="post" id="login_form">
                            <input type="text" placeholder="Podaj login" id="l" />
                            <input type="text" placeholder="Podaj hasło" id="p" />
                            <input type="submit" id="loginbuttom" value="Zaloguj" />
                            <input type="button" id="rejbuttom" value="Zarejestruj" />
                            <input type="checkbox" value="true" />Zapamiętaj mnie
                            <input type="hidden" value="post" name="post_type" />
                          </form>
                        <div>
                            <a>Zapomniałem hasła</a>
                        </div>
                        </div>
                    </div> 
                </div>
                
                <div class="main_menu_area">
                    <ul id="nav">
                      <li><a href="{{ path('homepage') }}">HOME</a></li>
                      <li><a href="#">Menu 1</a></li>
                      <li><a href="#">Menu 2</a>
                        <ul>
                          <li><a href="#">Menu 2.1</a></li>
                          <li><a href="#">Menu 2.2</a></li>
                          <li><a href="#">Menu 2.3</a></li>
                          <li><a href="#">Menu 2.4</a></li>
                          <li><a href="#">Menu 2.5</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Menu 3</a></li>
                      <li><a href="#">Menu 4</a>
                        <ul>
                          <li><a href="#">Menu 4.1</a></li>
                          <li><a href="#">Menu 4.2</a></li>
                          <li><a href="#">Menu 4.3</a>
                            <ul>
                              <li><a href="#">Menu 4.3.1</a></li>
                              <li><a href="#">Menu 4.3.2</a></li>
                              <li><a href="#">Menu 4.3.3</a></li>
                              <li><a href="#">Menu 4.3.4</a></li>
                              <li><a href="#">Menu 4.3.5</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Menu 4.4</a></li>
                          <li><a href="#">Menu 4.5</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Menu 5</a></li>
                      <li><a href="#">Menu 6</a></li>
                      <li><a href="#">Menu 7</a></li>
                      <li><a href="#">Menu 8</a></li>
                    </ul>
                </div>
                
                <div class="slider_area">
                    <div class="slider">
                      <ul class="bxslider">
                        <li><img src="{{ asset('img/1.jpg') }}" alt="" title="Slider caption text" /></li>
                        <li><img src="{{ asset('img/2.jpg') }}" alt="" title="Slider caption text" /></li>
                        <li><img src="{{ asset('img/3.jpg') }}" alt="" title="Slider caption text" /></li>
                      </ul>
                    </div>
                </div>
                
                <div class="content">
                    <div class="search_form">
                        <h2>Baza Zamówień Przetargowych</h2>
                        <p>Skorzystaj z wyszukiwarki</p>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
                            {{ form_widget(form.keyWord, { 'attr': { 'placeholder' : 'Słowa kluczowe np. gazownictwo' } }) }}
                            {{ form_widget(form.location, { 'attr': { 'placeholder' : 'Lokalizacja miasto/powiat/województwo' } }) }}
                            {{ form_widget(form.search_buttom) }}
                        {{ form_end(form) }}
                        <p><a>Wyszukiwanie zaawansowane</a></p> 
                    </div>
                    
                    <div class="main_content floatright">
                        {% block main_content %}
                            <h2>Brak danych</h2>
                        {% endblock %}
                    </div>
                    
                    <div class="sidebar floatleft">
                        <div class="single_sidebar">
                            <div class="box">
                                <h2 class="title">Statystyki</h2>
                                <p>Dziś dodane</p>
                                <p>Aktualne</p>
                                <p>Wszystkie</p>
                            </div>
                        </div>
                        <div class="single_sidebar">
                            <div class="box">
                                <h2 class="title">Skontaktuj się z nami</h2>
                                <p>Telefon</p>
                                <p>Email</p>
                                <p>Adres</p>
                            </div>
                        </div>
                        <div class="single_sidebar">
                            <div class="box">
                                <h2 class="title">Nowości</h2>
                                <p>Nowość 1</p>
                                <p>Nowość 1</p>
                                <p>Nowość 1</p>
                            </div>
                        </div>
                        <div class="single_sidebar">
                            <div class="box">
                                <h2 class="title">Poradniki</h2>
                                <p>Poradnik 1</p>
                                <p>Poradnik 1</p>
                                <p>Poradnik 1</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer_top_area">
                        <div class="inner_footer_top"> <img src=" {{ asset('img/infoveriti_banner.png') }}" alt="" /> </div>
                    </div>
                    
                    <div class="footer_bottom_area">
                        <div class="footer_menu">
                          <ul id="f_menu">
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                            <li><a href="#">Menu 4</a></li>
                            <li><a href="#">Menu 5</a></li>
                            <li><a href="#">Menu 6</a></li>
                            <li><a href="#">Menu 7</a></li>
                            <li><a href="#">Menu 8</a></li>
                          </ul>
                        </div>
                        <div class="copyright_text">
                          <p>Można umieścić jakiś tekst</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <script type="text/javascript">
            selectnav('nav', {
                label: '-Navigation-',
                nested: true,
                indent: '-'
            });
            selectnav('f_menu', {
                label: '-Navigation-',
                nested: true,
                indent: '-'
            });
            $('.bxslider').bxSlider({
                mode: 'fade',
                auto: true,
                captions: true
            });
        </script>
    </body>
</html>
