<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Baza Zamówień Przetargowych{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="Kamil Bogdański" />
        <meta name="Copyright" content="(c) 2017 Kamil Bogdański" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logo" onclick="window.top.location.href='http://www.infoveriti.pl/index.html';"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="zone">Baza Zamówień Przetargowych</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2">
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 1</a>
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 2</a>
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 3</a>
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 4</a>
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 5</a>
                    <a href="" class="btn btn-primary btn-xs btn-block">MENU 6</a>
                </div>
                <div class="col-xs-8">
                    <div style="border: solid"> Tu będzie liczba znalezionych w Bazie Danych przetargów oraz informacja o filtrze który kreuje tą liczbę</div>
                </div>
                <div class="col-xs-2">
                    Menu klienta <br>
                    LOGIN: <br>
                    HASŁO: <br>
                    <a href="" class="btn btn-default btn-xs btn-block">Logowanie</a>
                    <a href="" class="btn btn-default btn-xs btn-block">Rejestracja</a>
                    <a href="" class="btn btn-default btn-xs btn-block">Odnowienie hasła</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-3">
                    Tu będzie menu wyszukiwania każda z opcji rozwijana<br>
                    BRANŻA<br>
                    PODBRAŻNA<br>
                    WOJEWÓDZTWO REALIZACJI<br>
                    WOJEWÓDZTWO ORGANIZATORA<br>
                    MIESJCOWOŚĆ ORGANIZATORA<br>
                    DATA PUBLIKACJI<br>
                </div>
                <div class="col-xs-7">
                    {% block body %}<div style="border: solid"> Tu będzie formularz do wyszukiwania</div>{% endblock %}
                </div>
            </div>
                
            <div class="row">
                <div class="col-xs-3">

                </div>
                <div class="col-xs-7">
                    {% block result %}<div style="border: solid"> Tu będzie wynik wyszukiwania</div>{% endblock %}
                </div>
            </div>
        </div>
                
        {% block footer %}{% endblock %}

    </body>
</html>